.home-container {
  background-image: url("/src/assets/image/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.special-button {
  font-family: "Alfa Slab One", cursive;
  font-size: 24px;
  padding: 20px 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.191);
  color: #ff6200;
  text-shadow: 3px 3px 6px rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.special-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.special-button.animate {
  animation: pulse 1s infinite;
}
