.home-container {
  background-image: url("/src/assets/image/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  height: 100vh;
  background-color: #000;
}

.block .sp:nth-child(1) {
  animation-delay: 1s;
}
.block .sp:nth-child(2) {
  animation-delay: 2s;
}
.block .sp:nth-child(3) {
  animation-delay: 2.5s;
}
.block .sp:nth-child(4) {
  animation-delay: 3s;
}
.block .sp:nth-child(5) {
  animation-delay: 3.5s;
}
.block .sp:nth-child(6) {
  animation-delay: 3.75s;
}
.block .sp:nth-child(7) {
  animation-delay: 4s;
}
.block .sp:nth-child(8) {
  animation-delay: 4.5s;
}
.block .sp:nth-child(9) {
  animation-delay: 4.75s;
}
.block .sp:nth-child(10) {
  animation-delay: 5s;
}
.block .sp:nth-child(11) {
  animation-delay: 5.5s;
}
.block .sp:nth-child(12) {
  animation-delay: 6s;
}

.block {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  text-align: center;
  color: #ddd;
  font-size: 5em !important;
  letter-spacing: 0.2em;
}

.block .sp {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

// .text-cont {
//   position: absolute;
//   top: 250px;
// }

// .text {
//   font-size: 20px;
//   letter-spacing: 8px;
//   width: 100%;
//   white-space: nowrap;
//   overflow: hidden;
//   text-shadow: 1px 1px 10px rgb(255, 255, 255) !important;
//   animation: typing 9s steps(42), cursor 0.4s step-end alternate;
// }

// @keyframes typing {
//   from {
//     width: 0;
//   }
// }

.special-button {
  font-family: "Alfa Slab One", cursive;
  font-size: 24px;
  padding: 20px 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.191);
  color: #ff6200;
  text-shadow: 3px 3px 6px rgb(255, 255, 255);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.344);
  transition: transform 0.3s, box-shadow 0.3s;
}

.special-button:hover {
  transform: scale(1.3);
  box-shadow: 2px 2px 12px #ff6200;
}

.special-button.animate {
  animation: pulse 1s infinite;
}

.click-text {
  position: absolute;
  bottom: 41%;
  left: 81%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #fff;
}
