@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Passion+One:wght@900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
.c1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 3em;
}

.c2 {
  font-family: "Tilt Warp", cursive;
  color: rgb(255, 111, 0);
  font-weight: bolder;
  text-shadow: -1px 1px 20px rgb(255, 255, 0);
}

::placeholder {
  border: red !important;
}

.back-contact {
  background-image: url("/src/assets/image/pic3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
